.address-background-modal{
    width: 100%;
    height: 100vh;
    background-color: rgba(2, 2, 2, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.address-container{
    width: 550px;
    height: 650px;
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
}
.address-heading{
    display: flex;
    justify-content: space-between;
}
.address-type{
    margin-bottom: 10px;
}
.address-type label{
    padding: 3px;
    margin-right: 20px;
}
.name-lastname, .house-name, .street-name, .landmark, .code-city, .countary-state {
    margin-bottom: 15px;
}
.address-input input,
select{
    padding: 5px 10px;
    width: 46%;
    margin-right: 20px;
    border-radius: 10px;
    border: 0.2px solid rgb(193, 190, 190);
}
.house-name input, .street-name input, .landmark input{
 width: 96%;
}
.form-buttons {
    display: flex;
    justify-content: flex-end;
}
.address-input span{
    margin: 0px;
    padding-left: 10px;
    font-size: 11px;
    color: rgb(249, 114, 110);
}