.payment-process{
    width: 80%;
    display: flex; 
    justify-content: space-between;
    padding: 3px; 
    border: 1px dotted #58595b; 
    border-top: none;
    border-left: none;
    border-right: none;
    /* border-radius: 5px; */
}
.total{
    margin-top: -1px;
    border: 0.5px solid #58595b; 
    /* border-radius: 5px; */

}