.div-sorting{
    width: 78%;
    height: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-bottom: 0.5px solid #717171;
}
.sorting select{
    width: 250px;
    height: 40px;
    border: 1px solid #717171;
    border-radius: 5px;
    margin-right: 10px;
    /* color: #545353; */
}
.div-sorting1{
    width: 78%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    flex-wrap: wrap;
    font-size: 14px;
}
.size-chartFilter ul{
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}
.size-chartFilter ul li{
    width: 50px;
    margin: 5px;
    border-radius: 40px;
    display: inline-block;
    text-align: center;
    position: relative;
}
.size-chartFilter ul li input{
    opacity: 0;
    position: absolute;
    top: 11px;
    left: 20px;
    transform: scale(2.5);
}
.size-chartFilter ul li label{
    width: 50px;
    border-radius: 10px;
    padding: 4px 10px;
    background: transparent;
    color: #717171;
    cursor: pointer;
    font-size: 14px;
}
.themes-map{
    display: flex;
    gap: 5px;
    padding-bottom: 7px;
    /* border-right: 1px dotted #58595b; */
}
.themes-map input {
    transform: scale(1.2);
}
.themes-map label{
    font-size: 14px;
    font-weight: 500;
    color: #717171;
    cursor: pointer;
}

